<div class="row">
    <div class="col-md-8" style="display: flex;">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="..." alt="Laptop">
            <div class="card-body">
                <h5 class="card-title">Laptop</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a routerLink="laptop" class="btn btn-success">Go somewhere</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="..." alt="TV">
            <div class="card-body">
                <h5 class="card-title">TV</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a routerLink="tv" class="btn btn-success">Go somewhere</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="..." alt="Washing Machine">
            <div class="card-body">
                <h5 class="card-title">Washing Machine</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a routerLink="washingMachine" class="btn btn-success">Go somewhere</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="..." alt="Phone">
            <div class="card-body">
                <h5 class="card-title">Phone</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a routerLink="phone" class="btn btn-success">Go somewhere</a>
            </div>
        </div>
    </div>
    <div class="col-md-4"><router-outlet></router-outlet></div>
</div>
<h5>
pipes</h5><br>
<h4>{{value | uppercase | slice:1:11}}</h4>
<h4>{{value | pipe1}}</h4>
<h4>{{date | date:'short' | uppercase}}</h4>
<h4>{{date | date:'medium'}}</h4>
<h4>{{date | date:'shortTime'}}</h4>

<br><br>
<ul>
    <li *ngFor="let name of nameArr">
        {{name | pipe1}}

    </li>
</ul>
<br><br><br>
filter pipe used here
<div>
    <div class="form-group">
        <label for="exampleFormControlInput1">Email address</label>
        <input type="email" class="form-control" [(ngModel)]="nameSearch" id="exampleFormControlInput1" placeholder="name@example.com">
      </div>
    <table class="table">

        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">product name</th>
            <th scope="col">price</th>
            <th scope="col">Handle</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of productArr |filter:nameSearch">
            <th scope="row">1</th>
            <td>{{product.sno}}</td>
            <td>{{product.name}}</td>
            <td>{{product.price}}</td>
          </tr>
           </tbody>
      </table>
</div>