<div class="row">
    <div class="col-md-8" style="display: flex;">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="..." alt="Laptop">
            <div class="card-body">
                <h5 class="card-title">Laptop</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a routerLink="laptop" class="btn btn-success">Go somewhere</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="..." alt="TV">
            <div class="card-body">
                <h5 class="card-title">TV</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a routerLink="tv" class="btn btn-success">Go somewhere</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="..." alt="Washing Machine">
            <div class="card-body">
                <h5 class="card-title">Washing Machine</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a routerLink="washingMachine" class="btn btn-success">Go somewhere</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="..." alt="Phone">
            <div class="card-body">
                <h5 class="card-title">Phone</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a routerLink="phone" class="btn btn-success">Go somewhere</a>
            </div>
        </div>
    </div>
    <div class="col-md-4"><router-outlet></router-outlet></div>
</div>