<div class="row">
   <div> comman component with different content</div>
   <br>
    <div class="col-md-6">
        <app-card>      <h5 class="card-title">Laptop</h5>
            <a routerLink="laptop" class="btn btn-success">Go somewhere</a>

        </app-card>
    </div>
    <div class="col-md-6">
        <app-card> <h5 class="card-title">mobile</h5>
            <a routerLink="laptop" class="btn btn-success">Go somewhere</a>
        </app-card>

    </div>
    <div class="col-md-6">
        <app-card> <h5 class="card-title">phone</h5>                <a routerLink="laptop" class="btn btn-success">Go somewhere</a>
        </app-card>
    </div>
    <div class="col-md-6">
        <app-card> <h5 class="card-title">tv</h5>
            <a routerLink="laptop" class="btn btn-success">Go somewhere</a>
        </app-card>
    </div>
    <div class="col-md-6">
        <app-card> <h5 class="card-title">washingMachine</h5>
            <a routerLink="laptop" class="btn btn-success">Go somewhere</a>
        </app-card>
    </div>

</div>