<div class="container">
    <div class="col-md-4">
      <select class="form-control" (change)="getProductVal($event)">
        <option value="Default" >Default Product</option>
        <option value="Laptop">Laptop</option>
        <option value="TV">TV</option>
        <option value="Washing Machine">Washing Machine</option>
        <option value="PC">PC</option>
      </select>
    </div>
    <div class="col-md-12" [ngSwitch]="selectiveProduct">
        <h2 value="Default" *ngSwitchDefault>Default Product</h2>

      <h2 class="text-success" *ngSwitchCase="'Laptop'">Laptop</h2>
      <h2 class="text-success" *ngSwitchCase="'TV'">TV</h2>
      <h2 class="text-success" *ngSwitchCase="'Washing Machine'">Washing Machine</h2>
      <h2 class="text-success" *ngSwitchCase="'PC'">PC</h2>
    </div>
  </div>
  