<nav class="nav nav-tabs">
   <li  class="nav-item"> <a class="nav-link" routerLinkActive="active" routerLink="" [routerLinkActiveOptions]="{exact:true}">home</a></li>
   <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="about">about</a></li>
    <li class="nav-item"><a  class="nav-link" routerLinkActive="active" routerLink="aboutus">aboutus</a></li>
    <li class="nav-item"><a  class=" nav-link" routerLinkActive="active" routerLink="product">product</a></li>
    <li class="nav-item"><a  class=" nav-link" routerLinkActive="active" routerLink="contact">contact</a></li>
    
</nav>
<router-outlet></router-outlet>